<h1>Display your Pirate here</h1>
<h2>Coming in at <%=@pirate.height%> cm tall and <%=@pirate.weight%> kg, it's <%=@pirate.name%>!</h2>

<h2>Display your first ship here</h2>
<h3>The <%=@ship1.name%> is a <%=@ship1.type%> loaded with <%=@ship1.booty%>.</h3>

<h2>Display your second ship here</h2>
<h3><%=@ship2.name%> is a <%=@ship2.type%> carrying <%=@ship2.booty%>.</h3>
